<%= ops_title "Podnet bol uzavretý" %>
<p class="ops-email-paragraph">
  <% if @issue.author == @user %>
    Dobrý deň, Váš podnet <%= ops_issue_link @issue %>, ktorý ste pridali <b><%= @issue.created_at.strftime("%d.%m.%Y") %></b> na portál Odkaz pre starostu, bol uzavretý. Dôvod uzavretia nájdete <b><%= link_to "detaile podnetu", issue_url(@issue), class: "ops-email-link", target: "_blank" %></b>.
  <% else %>
    Dobrý deň, radi by sme Vás informovali, že podnet <%= ops_issue_link @issue %>, ktorý sledujete na portáli Odkaz pre starostu, bol uzavretý. Dôvod uzavretia nájdete <b><%= link_to "detaile podnetu", issue_url(@issue), class: "ops-email-link", target: "_blank" %></b>.
  <% end %>
</p>
<p class="ops-email-paragraph">
  <%= ops_button "Reagovať na nový status", "#{issue_url(@issue)}#new_issue_activity" %>
</p>
<% if @issue.author == @user %>
  <p class="ops-email-paragraph">
    Ďakujeme za Vašu spoluprácu.
  </p>
<% end %>
<%= render "signature" %>
<%= render "unsubscribe" %>
