<%= ops_title "Overenie podnetu" %>
<p class="ops-email-paragraph">
  K podnetu <%= ops_issue_link @issue %> pribudlo nové overenie podnetu.
</p>
<p class="ops-email-paragraph">
    <%# TODO: Add author display name or relevant information here  %>
  <b><%= "Niekto" %></b> overil riešenie tohto podnetu.
</p>
<p class="ops-email-paragraph">
  <%= ops_button "Reagovať na overenie podnetu", "#{issue_url(@issue)}#new_issue_activity" %>
</p>
<%= render "unsubscribe" %>
